.feed-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 4fr 1fr;
    grid-rows: 4fr 1fr;
    height: 1fr;
}

.feed-messages {
    border: green;
    column-span: 2;
    background: black;
}

.feed-log {
    border: darkgreen;
    background: black;
}

.feed-status {
    border: greenyellow;
}

.feed-status-container {
    layout: grid;
    grid-size: 1;
    grid-rows: 4fr 1fr;
}

.feed-mps {
    height: auto;
}

HelpScreen, FilterScreen {
    align: center middle;
}

#help {
    padding: 0 1;
    width: 70%;
    height: 70%;
    border: thick solid yellow;
    overflow-y: auto;
    background: $boost;
}

#filter {
    width: 50%;
    border: thick solid yellow;
}

AboutScreen {
    align: center middle;
}

#about {
    width: 70%;
    height: auto;
    border: thick solid yellow;
    background: $boost;
}

.version {
    width: auto;
}

Rule {
    color: goldenrod;
}

.column {
    width: 50%;
    height: auto;
}

#app-versions {
    layout: grid;
    grid-size: 2;
    height: auto;
}
