#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 80% 20%;
    grid-rows: 80% 20%;
}

/** {*/
/*    !*background: black;*!*/
/*    background: $surface;*/
/*}*/
/*#left-pane > Static {*/
/*    !*background: $boost;*!*/
/*    color: auto;*/
/*    margin-bottom: 1;*/
/*    padding: 1;*/
/*}*/

/*#left-pane {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    row-span: 2;*/
/*    background: $panel;*/
/*    border: dodgerblue;*/
/*}*/

#messages {
    height: 100%;
    border: green;
    column-span: 2;
    background: black;
}

#log {
    height: 100%;
    border: darkgreen;
    background: black;
}

/*.box {*/
/*    height: 100%;*/
/*    background: $boost;*/
/*    border: solid green;*/
/*    &.box2 {*/
/*        background: $panel;*/
/*        border: solid red;*/
/*    }*/
/*}*/

#status {
    height: 100%;
    /* border: solid green; */
    /* background: $panel; */
    /* background: $boost; */
    border: greenyellow;
}

#status-container {
    layout: grid;
    grid-size: 1;  /* one columns */
    grid-rows: 80% 20%;
}

/*#bottom-right-final {*/
/*    column-span: 2;*/
/*}*/

HelpScreen, FilterScreen {
    align: center middle;
}

#help {
    /*grid-size: 2;*/
    /*grid-gutter: 1 2;*/
    /*grid-rows: 1fr 3;*/
    padding: 0 1;
    width: 70%;
    height: 70%;
    /* border: thick $background 80%; */
    border: thick solid yellow;
    /*background: $surface;*/
    overflow-y: auto;
    background: $boost;
}

#filter {
    width: 50%;
    border: thick solid yellow;
}